<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>GDPR</title>
</head>

<body style="background-color: grey;">
    <div class="row" style="background-color: skyblue;margin-left: 5%;margin-right: 5%;">
        <h2>What data do we collect?</h2>
        <p>By registering an account with UStudy, we collect personal identification information: Name, Email address, and Password. However, we do not store your password in plaintext, but rather as a hash in order to minimise the security compromise of any data breaches.
            We also store your details regarding your Current year of study, which School and Course you are in within the University of Birmingham, and the Modules you are enrolled in. Content that you post (Videos and Comments) are also stored.
            User session data is collected via browser cookies and is for the purpose of allowing the user to remain logged in whilst using the website.</p>

        <h2>How do we collect your data?</h2>
        <p>UStudy directly collects your data when you Register online with us, and also when you participate (whilst logged in) with our services: Posting Videos and posting Comments.</p>

        <h2>How will we use your data?</h2>
        <p>UStudy collects your data so that we are able to provide personalised content within the UStudy website, as well as allowing users to remain logged in throughout their browser session through the use of cookies.
            UStudy does not share your data with any other parties or entities.</p>

        <h2>How do we store your data?</h2>
        <p>UStudy stores your data as a database in the internal Git repository located physically and virtually within the University of Birmingham’s GitLab servers. During deployment, this data is also hosted remotely on the cloud on DigitalOcean’s secure servers. Both points of access require administrator rights to their respective repositories/virtual machines.
            UStudy will keep your personal data for the duration that this project is in development and/or is relevant. This will likely be until the end of this academic year and we will not keep your data beyond 2023.
            </p>

        <h2>Marketing</h2>
        <p>UStudy does not send you any marketing information about other products and/or services.</p>

        <h2>What are your data protection rights?</h2>
        <p>UStudy ensures that you are entitled to all of your data protection rights. This encompasses:
            The right to access copies of your personal data upon request.
            The right to rectification for any data that you believe is incorrect about yourself.
            The right to erasure for any and all of your personal data.
            The right to restrict processing regarding us processing your personal data.
            The right to object to processing regarding us processing your personal data.
            The right to data portability in regards to us transferring data we have collected about you to other organisations or directly to you.
            
            If you make a request, we have one month to respond to you. To make a request, contact us at the email: sry000@student.bham.ac.uk</p>

        <h2>What are cookies?</h2>
        <p>Cookies are text files stored on your computer to collect standard internet log information and behaviour from visitors. When you visit our website, we may collect information regarding you automatically through cookies or similar technology.</p>

        <h2>How do we use cookies?</h2>
        <p>UStudy uses cookies to improve your experience whilst using our website. We use cookies to keep you signed in.
        </p>

        <h2>What types of cookies do we use?</h2>
        <p>There are several different types of cookies, however, UStudy’s website only uses Functional cookies, which ensure that we are able to recognise you whilst you use our website. These cookies can include information such as a unique login identifier for your browser session.</p>

        <h2>How to manage your cookies</h2>
        <p>You can set your browser to not accept cookies, and you are also able to remove cookies from your browser if you so choose. However, in a few cases, some of our website’s functionality will not work properly as a result.</p>

        <h2>Privacy policies of other websites</h2>
        <p>UStudy contains links to other websites. Our privacy policy applies only to our own website, and thus if a link is clicked to another website, their privacy policy will be in effect.</p>

        <h2>Changes to our privacy policy</h2>
        <p>UStudy’s privacy policy was last updated on 11 March 2022.</p>

        <h2>How to contact us</h2>
        <p>If you have any questions about UStudy’s privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please contact us at: sry000@student.bham.ac.uk</p>

        <h2>How to contact the appropriate authorities</h2>
        <p>Should you wish to write a complaint or if you feel that UStudy has not addressed your concern in a satisfactory manner, you may contact their helpline at: 0303 123 1113</p>
</div>
</body>

</html>